@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Transaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Transactions</h1>
<p></p>
@Html.ActionLink("New Transaction", "New", "Transaction", new { @class = "btn btn-outline-primary" })

<p></p>
<table id="transactions" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Vehicle Type</th>
            <th>Vehicle Brand</th>
            <th>Vehicle Model</th>
            <th>Service</th>
            <th>Plate Number</th>
            <th>Cost</th>
            <th>Date and Time</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#transactions").DataTable({

            ajax: {
                url: "API/Transactions/GetTransactions",
                    dataSrc: ""
            },
            columns: [
                {
                    data: "Vehicle.Type"
                },
                {
                    data: "Vehicle.Brand"
                },
                {
                    data: "Vehicle.Model"
                },
                {
                    data: "Service.Type"
                },
                {
                    data: "PlateNumber",
                    render: function (data, type, Transaction) {
                        return "<a href='/Transaction/Edit/" + Transaction.Id + "'>" + Transaction.PlateNumber + "</a>";
                    }
                },
                {
                    data: "Cost"
                },
                {
                    data: "DateTime"
                },
                {
                    data: "Id",
                    render: function (data) {
                        return "<button class=' btn btn-outline-primary js-delete' data-transaction-id=" + data + ">Delete</button>";
                    }
                }
                ]
            });
        });

        $("#transactions").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Would you like to delete this transactions?", function (result) {
                if (result) {
                    $.ajax({
                        url: "API/Transactions/DeleteTransaction/" + button.attr("data-transaction-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}