@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Attendance>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<p></p>
<h1> Attendance @Html.ActionLink("Time In", "TimeIn", "Attendance", new { @class = "btn btn-outline-primary float-right" })</h1>
<p></p>


<table id="attendances" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Time In</th>
            <th class="text-center">Timeout</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            $("#attendances").DataTable({
                ajax: {
                    url: "/API/Attendances/GetAttendancesByDate",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Employee.Id"
                    },
                    {
                        data: "TimeInDate"
                    },
                    {
                        data: "TimeOutDate",
                        className: "text-center",
                        render: function (data) {
                            return "<button class=' btn btn-outline-primary js-timeout' data-attendance-id=" + data + "> Timeout </button>";
                        }
                    }
                ]
            });
        });
    </script>
}

