
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<p></p>
<div class="jumbotron">
    <h1 class="display-4">Attendance</h1>
    <h1>@Html.ActionLink("Time In", "TimeIn", "Attendance", new { @class = "btn btn-outline-primary float-right"})</h1>
    <p></p>
    <table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Time In</th>
            <th>Timeout</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>



