@model BoozewasherApp_Web.Models.ViewModels.Attendances.AttendanceFormViewModel
@{
    ViewBag.Title = "TimeIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity

@using (Html.BeginForm("TimeIn", "Attendance"))
{
    <p></p>
    <div class="jumbotron">
        <h1>@Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Attendance")</h1>
    </div>
}
@Html.AntiForgeryToken()


