@model BoozewasherApp_Web.Models.ViewModels.Attendances.AttendanceFormViewModel
@{
    ViewBag.Title = "TimeIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<div class="jumbotron">
    <h1 class="display-4"> Hello,</h1>
</div>
