@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Services</h1>
<p></p>
@Html.ActionLink("New Service", "New", "Service", new { @class = "btn btn-outline-primary" })

<p></p>
<table id="services" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Description</th>
            <th>Expense</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            $("#services").DataTable({
                ajax: {
                    url: "API/Services/GetServices",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Type",
                        render: function (data, type, Service) {
                            return "<a href='/Service/Edit/" + Service.Id + "'>" + Service.Type + "</a>";
                        }
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "Expense"
                    },
                    {
                        data: "Id",
                        className: "text-center",
                        render: function (data) {
                            return "<button class=' btn btn-outline-primary js-delete' data-service-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
        });

            $("#services").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Would you like to delete this service?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "API/Services/DeleteService/" + button.attr("data-service-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
    </script>
}
