@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Items</h1>
<p></p>
@Html.ActionLink("New Item", "New", "Item", new { @class = "btn btn-outline-primary" })

<p></p>
<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Barcode</th>
            <th>IsEmpty</th>
            <th>UsageCount</th>
            <th>Expense</th>
            <th>Branch</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody> 
   </tbody>
</table>
@section scripts {

    <script>
        $(document).ready(function () {
            $("#items").DataTable({

                ajax: {
                    url: "API/Items/GetItems",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, Item) {
                            return "<a href='/Item/Edit/" + Item.Id + "'>" + Item.Name + "</a>";
                        }
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "Barcode"
                    },
                    {
                        data: "IsEmpty"
                    },
                    {
                        data: "UsageCount"
                    },
                    {
                        data: "Expense", render: $.fn.DataTable.render.number(',', '.', 2, '')
                    },
                    {
                        data: "Branch.Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class=' btn btn-outline-primary js-delete' data-item-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

        });

        $("#items").on("click", ".js-delete", function () {
            var button = $(this);

            bootbox.confirm("Would you like to delete this item?", function (result) {
                if (result) {
                    $.ajax({
                        url: "API/Items/DeleteItem/" + button.attr("data-item-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });

    </script>
}
