@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Items</h1>
<p></p>
<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Barcode</th>
            <th>IsEmpty</th>
            <th>UsageCount</th>
            <th>Expense</th>
        </tr>
    </thead>
    <tbody> 
   </tbody>
</table>
@section scripts {

    <script>
        $(document).ready(function () {
            $("#items").DataTable({

                ajax: {
                    url: "API/Items/GetItems",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name"
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "Barcode"
                    },
                    {
                        data: "IsEmpty"
                    },
                    {
                        data: "UsageCount"
                    },
                    {
                        data: "Expense", render: $.fn.DataTable.render.number(',', '.', 2, '')
                    }
                ]
            });
        });
    </script>
}
