@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right" id="navbarColor02">
    <li class="nav-item dropdown navbar-dark bg-dark">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Settings </a>
        <div class="dropdown-menu navbar-dark bg-dark fon">
            <a> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:document.getElementById('logoutForm').submit()"> Log off </a>
        </div>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-dark bg-dark">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
