@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right navbar-dark bg-primary">
    <li class="dropdown navbar-dark bg-primary">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLink" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Settings </a>
        <div class="dropdown-menu navbar-light bg-light" aria-labelledby="dropdownMenuLink" >
            <a class="dropdown-item" href="@Url.Action("Index", "Manage")"> User Profile </a>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"> Log off </a>
        </div>
    </li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right navbar-dark bg-primary">
    <li class="nav-item dropdown navbar-dark bg-primary">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Settings </a>
        <div class="dropdown-menu navbar-light bg-light">
            <a> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </a>
            <div class="dropdown-divider"></div>
            <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </a>
        </div>
    </li>
</ul>
}
