@model  IEnumerable<BoozewasherApp_Web.Models.ContextModel.Vehicle>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<h1>Vehicles</h1>
<p></p>
@Html.ActionLink("New Vehicle", "New", "Vehicle", new { @class = "btn btn-outline-primary" })

<p></p>
<table id="vehicles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Model</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#vehicles").DataTable({
                ajax: {
                    url: "API/Vehicles/GetVehicles",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Type",
                        render: function (data, type, Vehicle) {
                            return "<a href='/Vehicle/Edit/" + Vehicle.Id + "'>" + Vehicle.Type + "</a>";
                        }
                    },
                    {
                        data: "Description"
                    },
                    {
                        data: "Brand"
                    },
                    {
                        data: "Model"
                    },
                    {
                        data: "Id",
                        className: "text-center",
                        render: function (data) {
                            return "<button class=' btn btn-outline-primary js-delete' data-vehicle-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });

            
        });

            $("#vehicles").on("click", ".js-delete",function () {
                var button = $(this);

                bootbox.confirm("Would you like to delete this vehicle?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "API/Vehicles/DeleteVehicle/" + button.attr("data-vehicle-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
       
    </script>
}
