@model IEnumerable<BoozewasherApp_Web.Models.ContextModel.Branch>
@{
    ViewBag.Title = "Index";
}
<p></p>
<h2>Branches</h2>
<p></p>
@Html.ActionLink("New Branches", "New", "Branch", new { @class = "btn btn-outline-primary" })
<p></p>
<table id="branches" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#branches").DataTable({
                ajax: {
                    url: "API/Branches/GetBranches",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, Branch) {
                            return "<a href='/Branch/Edit/" + Branch.Id + "'>" + Branch.Name + "</a>";
                        }
                    },
                    {
                        data: "Address"
                    },
                    {
                        data: "Id",
                        className: "text-center",
                        render: function (data) {
                            return "<button class=' btn btn-outline-primary js-delete' data-branch-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });


        });
    </script>
}